@model IEnumerable<Padaria_Bread.Models.Consultas.PivotCompras>

@{
    ViewData["Title"] = "ConsultaComprasPivot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/bg.css" />

<h1 class="pt-4">Consulta Compras Pivot</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto2)
            </td>
        </tr>
}
    </tbody>
</table>
